.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 1s;
    height: 10rem;
    width: 25rem;
    display: flex;
    background-color: #F0E2E7;
    border-radius:30%;
    box-sizing: content-box;
  
}
.card p{
    border-radius:30%;  
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
    overflow: scroll;
  }

  .vis {
      visibility: visible;
      transition: all ease-in-out
  }
  
  .invis {
      visibility: hidden;
      transition: all ease-in-out;
      display: none;
  }
  .pill {

    border-radius:30%;
    box-sizing: content-box;
    transition: height 1s ease-in, width 1ms ease-in-out;
    display: flex;
    height: 5rem;
    width: 10rem;
  }

  .pill h4 {
    vertical-align: middle;
  }
  .pill:hover {
    cursor: pointer;
  }